@font-face {
  font-family: "Bungee-Reg";
  src: url("../fonts/Bungee/Bungee-Regular.ttf") format("truetype"), url("../fonts/Bungee/bungee-regular.woff") format("woff"), url("../fonts/Bungee/bungee-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin/Cabin-Regular.ttf") format("truetype"), url("../fonts/Cabin/cabin-regular.woff") format("woff"), url("../fonts/Cabin/cabin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster/Lobster-Regular.ttf") format("truetype"), url("../fonts/Lobster/lobster-regular.woff") format("woff"), url("../fonts/Lobster/lobster-regular.woff2") format("woff2");
}
* {
  margin: 0;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

body {
  font-family: "Cabin";
  color: #333333;
}

h1, h2, .category, .nav-links, .product-title {
  font-family: "Bungee-Reg";
  font-weight: normal;
}

.brand-name, .login-btn {
  font-family: "Lobster";
  color: white;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.address a {
  color: #af2f26;
}

#HeaderBar {
  background-color: #333333;
  margin: 0px -2000px;
  padding: 0px 2000px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.3em;
}
.nav-links li a {
  color: #f2b378;
}
.nav-links li a:hover, .nav-links li a:active {
  color: #af2f26;
}

nav {
  flex: 1;
}

.brand-name {
  font-size: 0;
  line-height: 0;
  background-image: url(../img/logo.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 144px;
  width: 131px;
  margin-top: 33px;
  display: block;
}

#Login {
  background-color: #19616b;
  border: 0;
  border-bottom: 2px #2891a0 solid;
  width: 110px;
  padding: 5px 0;
  font-size: 1.3em;
  margin-top: -90px;
  cursor: pointer;
}

body {
  background-color: #333333;
}

footer {
  background-color: #333333;
  width: 1000px;
  height: 60px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer a {
  color: white;
}
footer a + a {
  border-left: 1px #FFF solid;
  padding-left: 6px;
  margin-left: 6px;
}
#ContentArea {
  background-color: #f2b378;
  border-top: 30px solid #af2f26;
  margin: 0px -2000px;
  padding: 0px 2000px;
  display: flex;
  flex-direction: row;
}

#Menu {
  flex: 1;
  margin: 0 0 100px 0;
}

#BasketView {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  width: 25%;
}

#BasketView h2 {
  font-size: 16px;
  text-align: center;
  line-height: 1;
  padding: 20px 0 10px 0;
  border-bottom: 1px #af2f26 solid;
}

#BasketTotals {
  margin-top: 10px;
}

.summary, .total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.summary dt, .total dt {
  color: #af2f26;
  font-style: italic;
}

#CategoryList {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  clear: both;
  display: block;
  float: left;
  width: 20%;
}

.category {
  background-color: #333333;
  color: #FFF;
  line-height: 1;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}

.category:hover {
  background-color: #af2f26;
}

.selected-category {
  background-color: #af2f26;
}

.category + .category {
  border-top: 2px #f2b378 solid;
}

#ProductList {
  margin: 20px 0 0 0;
  float: right;
  width: 78%;
}

.category-header {
  width: 96%;
}

.category-name {
  background-image: url(../img/Burger-Category-Header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 160px;
  width: 100%;
  display: block;
  font-size: 0;
}

.category-description {
  background-color: #333;
  color: #FFF;
  line-height: 1;
  padding: 10px;
  border-top: 2px #f2b378 solid;
}

#ProductList ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
  width: 96%;
}

#ProductList ul li {
  width: 49%;
}

.product-image {
  width: 100%;
  height: 200px;
  display: block;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#prod1 .product-image {
  background-image: url("../img/Products/Classic-Burger.jpg");
}

#prod2 .product-image {
  background-image: url("../img/Products/Cheese-Burger.png");
}

.product-detail {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

#prod1 .product-detail {
  background-color: #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px #af2f26 solid;
}

.product-title {
  text-align: center;
  color: #af2f26;
  font-size: 23px;
  line-height: 1;
  padding: 0 0 7px 0;
}

.product-detail span:nth-child(2) {
  font-size: 15px;
  font-style: italic;
}

.product-detail span:nth-child(3) {
  display: none;
}

#prod3, #prod4, #prod5 {
  display: none;
}

.menu-header {
  margin-bottom: 10px;
}

.menu-header h2 {
  line-height: 1;
  padding: 15px 0 5px 0;
  font-size: 28px;
}

.address {
  display: flex;
  flex-direction: column;
}

.menu-info {
  width: 80%;
}

.menu-info dt {
  width: 30%;
  float: left;
}

.menu-info dd {
  width: 70%;
  float: right;
  text-align: right;
}

/*# sourceMappingURL=main.css.map */
